@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/autoplay';



/* Estilo básico para garantir posicionamento adequado da Navbar e do Footer */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 100; /* Garantindo que o peso "Thin 100" seja aplicado */
  background-color: #0a0a0a; /* Ajustando a cor de fundo escura */
  color: #ededed; /* Cor de texto para o modo escuro */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Faz o conteúdo principal ocupar o espaço disponível */
}

/* Remover scrollbar visível */
div::-webkit-scrollbar {
  display: none; /* Remove no Chrome, Edge e Safari */
}

div {
  -ms-overflow-style: none; /* Remove no IE e Edge */
  scrollbar-width: none; /* Remove no Firefox */
}
